extends layout

block content
  div.flex.mt-8
    div.max-w-md.text-blue.mt-8
      span.flex.items-center.mt-8
        svg.mr-2.fill-current.text-white.bg-blue.rounded-full.h-12.w-12.p-2.float-left.shadow-md
          use(xlink:href="images/icon.svg#logo")
        h2.font-bold=title
      h1.text-3xl.pt-8 Call to action and action and a long actions

